@import url("../../variable.css");
.navbar-header {
    content: url('../../images/Component\ 1\ –\ 66.svg');
}
.listing-btn {
    padding: 10px !important;
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
    line-height: 23px;
    font-family: var(--aktifo-a-medium);
    letter-spacing: 0px;
    color: #494140;
    background: #FBCB51;
    border-radius: 14px;
}