@import url("../../variable.css");
.header-section h1 {
    margin-top: 75px;
    font-size: 48px;
    line-height: 57px;
    font-family: var(--tiempos-headline-bold);
    text-align: left;
    letter-spacing: 0px;
    color: #494140;
}
.header-section p {
    font-size: 18px;
    line-height: 26px;
    font-family: var(--aktifo-a-medium);
    text-align: left;
    letter-spacing: 0px;
    color: #494140;
}
.header-image {
    background: url('../../images/brown-horse-pasture-mountains-morning-1.png') no-repeat;
}
.header-section .form {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 12px 48px #0000000D;
    border: 1px solid #49414026;
    border-radius: 12px;
    padding: 40px 20px 20px 40px;
}
.header-section input.form-control, select.form-control {
    border: none;
}
.header-section .form .location, .form .keyword .keyword-col  {
    border-bottom: 1px solid rgb(0, 0, 0, 0.07);
}
.header-section .form .location .location-col  {
    border-right: 1px solid rgb(0, 0, 0, 0.07);
}
.header-section .form .location .form-label {
    text-align: left;
    font-size: 16px;
    line-height: 23px;
    font-family: var(--aktifo-a-medium);
    letter-spacing: 0px;
    color: #494140;
}

.header-section .form .keyword .form-label {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-family: var(--aktifo-a-medium);
    letter-spacing: 0px;
    color: rgba(73, 65, 64, 0.3);
}
.header-section .form .keyword {
    margin-top: 15px;
}

.header-section .form .keyword .keyword-col {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-family: var(--aktifo-a-medium);
    letter-spacing: 0px;
    color: rgba(73, 65, 64, 0.3);
}

form .form-control:focus{
    box-shadow: none;
  }

  .housing-type-select {
      appearance: auto !important;
      -webkit-appearance: auto;
  }

  .custom-range {
    height: calc(3.6rem + .4rem);
  }

  #advance-search-btn {
    text-align: right;
    text-decoration: underline;
    font-size: 16px;
    line-height: 23px;
    font-family: var(--aktifo-a-medium);
    letter-spacing: 0px;
    color: #FBCB51;
  }

  #search-btn {
    text-align: right;
    font-size: 16px;
    line-height: 23px;
    font-family: var(--aktifo-a-medium);
    letter-spacing: 0px;
    color: #494140;
    background: #FBCB51;
    border-radius: 14px;
  }